<a class="logo" href="/">G</a>
<ul class="nav">
    <li class="active"><a href="{% post_url 2015-08-28-introduction %}">Introduction</a></li>
    <li class="active"><a href="{% post_url 2015-08-28-irrlicht-basics %}">Irrlicht basics</a></li>
    <li class="active"><a href="{% post_url 2015-08-28-first-application %}">First application</a></li>
    <li class="active"><a href="{% post_url 2015-08-28-adding-some-newtonality %}">Adding some newtonality</a></li>
    <li class="active"><a href="{% post_url 2015-08-28-advanced-application %}">Advanced application</a></li>
</ul>

<div class="nav hidden-xs" id="sidebar-footer">
  {% include footer.html %}
</div>
