@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,400,700');

html, body {
  font-family: 'Open Sans', arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

a {
  color: rgb(44, 76, 180);

  &:visited, &:link, &:active {
    text-decoration: none;
  }

  &:hover {
    // might not be desired always
    text-decoration: none;
    color: rgb(45, 76, 150);
  }
}

.vspace {
  min-height: 2.5em;
  display: block;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

kbd {}

$header-height: 4em;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background: #4F86EC;
  color: white;
  box-shadow: #555 0px 1px 5px;

  .nav-toggle {
    display: none;
    font-size: 2em;
    margin: 0 1em;
  }

  .title {
    font-size: 1.5em;
  }
}

.content-wrapper {
  display: flex;
  margin-top: $header-height;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 58%;
  padding: 1em 4em;
  overflow: auto;
}

p {
  margin: 1em 0;
}

figure.highlight, pre.highlight {
  border: 1px solid #bdbdbd;
  padding: 0 1em;
  margin: 0;
  background: #fffdd885;
  overflow: auto;
}

pre.highlight {
  padding: 1em;
}

.btn {
  display: inline-flex;
  padding: 0.5em 2em;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1rem;
  box-shadow: #555 0px 0px 6px;
  margin-top: -0.5em;
  margin-left: -1em;
  max-width: 30%;

  a {
    display: flex;
    align-items: center;
    height: 3em;
    padding: 0 1em;

    &:hover, &.active {
      background: #EAEAEA;
      border-radius: 3px;
    }
  }
}

@media only screen and (max-width: 850px) {
  .header {
    justify-content: flex-start;

    .nav-toggle {
      display: flex;
    }
  }

  .nav {
    position: fixed;
    transition: left ease 0.5s;
    left: -200%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 1rem 4rem;

    &.open {
      left: 0;
    }
  }
}
